.slick-slide .slick-active .slick-center .slick-current{
    background:red!important;
}
.example::-webkit-scrollbar {
	display: none;
  }
  .scrollhider::-webkit-scrollbar {
	display: none!important;
  }